.good-key {
    color: green !important;
}

.bad-key {
    color: red !important;
}

h1 {
    text-align: center;
}

.text-clair-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}

input {
    width: 300px;
}

form {
    background-color: whitesmoke;
}

.crypt-button, textarea {
    display: block;
    margin: auto;
}

textarea {
    margin-top: 3rem;
}



table {
    margin-left: 50px;
}

td {
    width: 50px;
    height: 50px;
}

.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal {
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid black;
}


